snippet importconvey
	import (
		"testing"

		. "github.com/smartystreets/goconvey/convey"
	)

snippet test
	func Test${1}(t *testing.T) {
		${0}
	}

snippet givent
	Convey("Given ${1}", t, func() {
		${0}
	})

snippet given
	Convey("Given ${1}", func() {
		${0}
	})

snippet when
	Convey("When ${1}", func() {
		${0}
	})

snippet then
	Convey("Then ${1}", func() {
		${0}
	})

snippet so
	So(${1}, ShouldEqual, ${2})

snippet sonil
	So(${0}, ShouldBeNil)

snippet sonnil
	So(${0}, ShouldNotBeNil)

snippet sotrue
	So(${0}, ShouldBeTrue)

snippet sofalse
	So(${0}, ShouldBeFalse)
